@media screen and (max-width: 768px) {
  .header {
    &__right {
      display: none;
    }

    &__burger-title {
      display: none;
    }

    &__list {
      border-radius: 0;
    }

    &__user-link--mobile {
      display: flex;
    }
  }
}